body {
    background-color: #ffffff;
    color: #292930;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

img {
    height: 30px;
    width: 70px;
}

.dark {
    display: flex;
    padding: 10px 10px;
    margin: 60px auto 0px auto;
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.dark:hover{
    background: #656570;
}

.calculator{
    width: 300px;
    background: #292930;
    margin:60px auto 0px auto;
    padding:7px;
    border-radius:10px;
}
    
    #screen{
    width:100%;
    box-sizing:border-box;
    border:1px solid #abcabc;
    border-radius:5px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
    padding: 7px 8px;
    text-align: right;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .container-button {
        display: flex;
        flex-wrap: wrap;
    }
    
    .button {
        display: flex;
        width: 25%;
        font-size: 20px;
        color: #ffffff;
        height: 70px;
        border: 1px solid #656570;
        border-top: none;
        border-left: none;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .button:nth-child(4n+1) {
        border-left: 1px solid #656570;
    }

    .button:hover {
        background: #7b7b80;
        cursor: pointer;
    }

    #zero {
        flex-grow: 1;
    }

    .operator{
        background: #33333a;
    }

    #equal {
        background: #f79b23;
    }